<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <title>Password Generator</title>
    </head>

    <body>
        <form name="generate">
            <input type="checkbox" id="lowercase" name="lowercase" checked>
            <label for="lowercase">Lowercase [a-z]</label>

            <input type="checkbox" id="uppercase" name="uppercase" checked>
            <label for="uppercase">Uppercase [A-Z]</label>

            <input type="checkbox" id="number" name="number" checked>
            <label for="number">Numbers [0-9]</label>

            <label for="length">Password length</label>
            <select id="length">
                {% for length in password_length %}
                <option value="{{ length }}">{{ length }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Generate">
        </form>

        <div>
            <ul id="passwords-list"></ul>
        </div>
        <script>
            const form = document.forms.generate;

            form.addEventListener('submit', async event => {
                event.preventDefault();

                let data = {
                    lowercase: form['lowercase'].checked,
                    uppercase: form['uppercase'].checked,
                    number: form['number'].checked,
                    length: form['length'].value
                };

                let response = await fetch(window.location.href, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                });

                let ul = document.getElementById('passwords-list');
                ul.innerHTML = '';

                if (response.ok) {
                    let list = await response.json();

                    for (let index = 0; index < list.length; index++) {
                        let item = document.createElement('li');
                        item.textContent = list[index];
                        ul.appendChild(item);
                    }
                }
                else {
                    console.log('fail: ' + window.location.href);
                }

            });
        </script>
    </body>
</html>